@model int

<!DOCTYPE html>
<html>
<head>
    <title>ooops...</title>
</head>
<body style="background-image: url('/images/laser-eyes-space-llama-on-sloth-dinosaur-rainbow-random-galaxy.jpg');">
<h1 style="color:chartreuse;">Http error</h1>
    <h2 style="color:chartreuse;">Status code: @Model</h2>
  
</body>
</html>

