@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
<head>
    <title>index</title>
</head>
<body>
    <a asp-controller="Home" asp-action="Throw"> Simulate a server error</a>
    <a href="/error"> Simulate an HTTP error</a>
</body>
</html>